@import 'variables';

.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100vw;
    padding: 0 10vw;

    color: $main-header-color;
    z-index: 1;
    transition: .4s ease-out;

    font-size: 0.8rem;

    a {
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;

    }

    .nav-links {
        display: flex;
        list-style: none;


        .nav-link {


            transition:
                opacity .4s ease-in-out,
                transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:nth-of-type(2) {
                transition-delay: .4s;
            }

            &:nth-of-type(3) {
                transition-delay: .5s;
            }

            &:nth-of-type(4) {
                transition-delay: .6s;
            }

            &:nth-of-type(5) {
                transition-delay: .7s;
            }

            &:nth-of-type(6) {
                transition-delay: .8s;
            }

            &:nth-of-type(7) {
                transition-delay: .9s;
            }

            &:nth-of-type(8) {
                transition-delay: 1s;
            }

            &:nth-of-type(9) {
                transition-delay: 1.1s;
            }

            a {
                margin: .2rem;
                padding: 1rem .5rem;
                background-size: 4px 4px;
                transition: background-size ease-in-out 2s;

                &:hover {
                    background-color: $nav-link-hover-color;
                    border-radius: 7px;
                    background-size: 100% 100%;

                }
            }
        }
    }

    .menu-icon {
        position: relative;
        padding: 26px 10px;
        cursor: pointer;
        z-index: 1;

        display: none;

        &__line {

            display: block;
            position: relative;
            background: #000;
            height: 2px;
            width: 20px;
            border-radius: 4px;
            transition: background .8s ease;

            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                background: #000;
                transition: background .8s ease;
            }

            &::before {
                transform: translateY(-5px);

            }

            &::after {
                transform: translateY(5px);

            }

        }
    }

    .menu-btn {
        position: absolute;
        top: -100px;

        &:focus~.menu-icon {
            .menu-icon__line {
                &::before {
                    transform: translateY(-7px);
                }

                &::after {
                    transform: translateY(7px);
                }
            }
        }

    }

    &.scrolled {
        height: 50px;
        background: rgba($color: #000, $alpha: .9);
        color: #fff;

        .menu-icon {
            &__line {
                background: #fff;

                &::before,
                &::after {
                    background: #fff;
                }
            }
        }

        .sub-menu {
            background-color: rgba($color: #000, $alpha: .6);
        }
    }



    .drop-down {
        position: relative;
        display: flex;
        justify-content: space-evenly;


        &:hover {
            .sub-menu {
                display: flex;
            }


        }


        .drop-down-btn {
            display: block;
            // background-color: red;
            height: 200%;


            &:hover {
                background-color: blue;
            }

        }


        .sub-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 2.0rem;
            list-style: none;
            border: solid 1.25px whitesmoke;
            width: 200%;
            transition: ease-out 2s;


            li {


                border-top: solid 2px transparent;
                border-bottom: solid 2px transparent;
                height: 100%;
                padding: 0;
                // &:hover {
                //     border: solid 2px transparent;
                //     border-top: solid 2px whitesmoke;
                //     border-bottom: solid 2px whitesmoke;
                // }

                a {
                    padding: .8rem 0rem;
                    display: block;
                    text-align: center;
                    transition: ease-out .7s;
                }
            }
        }
    }
}